/* ABOUT PAGE */

.profile-wrapper img {
  width: 175px;
}

.profile-wrapper h1,
.profile-wrapper p {
  color: var(--txt-color);
}

#main-aboutpage {
  width: 100%;
  max-width: 50em;
  gap: 4em;
}

.links-wrapper {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.links-wrapper img {
  width: 3rem;
}

.links-wrapper a:hover>img {
  filter: brightness(0) saturate(100%) invert(36%) sepia(7%) saturate(444%) hue-rotate(214deg) brightness(94%) contrast(86%);
}

@media (prefers-color-scheme: dark) {
  .links-wrapper img {
    filter: invert(1);
  }
}

@media (max-width: 900px) {
  .profile-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .links-wrapper {
    gap: 1.5rem;
  }
}

.profile-wrapper {
  justify-content: center;
}
