/* BLOG */

.main-homepage article {
  padding: var(--padding);
  margin: 1rem 0;
}

.main-homepage a>article {
  border-radius: var(--border-radius);
  outline: 0.2em solid transparent;
  transition: outline-color ease-in-out 0.3s 50ms;
}

.main-homepage a:hover>article {
  outline: 0.2em solid var(--border-color);
  color: var(--txt-color);
}

main div figure img {
  width: 10em;
  filter: brightness(0) saturate(100%) invert(45%) sepia(13%) saturate(741%) hue-rotate(328deg) brightness(103%) contrast(84%);
}

main div figure {
  padding-left: 1em;
}

@media (prefers-color-scheme: dark) {
  main div figure img {
    filter: invert(1);
  }
}

.main-homepage article > p {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;  
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.main-homepage h2 {
  line-height: 1.2;
  font-size: 1.5em;
}

main article time {
  font-size: 1rem;
}
