/* BLOG */

.main-homepage article {
  padding: var(--padding);
  margin: 1rem 0;
}

.main-homepage a>article {
  border: 2px solid var(--bg-color);
  border-radius: var(--border-radius);
  transition: border-color 0.3s ease-in-out 50ms;
}

.main-homepage a:hover>article {
  border-color: var(--border-color);
  color: var(--txt-color);
}

main div figure img {
  width: 10em;
  filter: brightness(0) saturate(100%) invert(45%) sepia(13%) saturate(741%) hue-rotate(328deg) brightness(103%) contrast(84%);
}

main div figure {
  padding-left: 1em;
}

@media (prefers-color-scheme: dark) {
  main div figure img {
    filter: invert(1);
  }
}

.main-homepage article > p {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;  
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.main-homepage h1 {
  line-height: 1.2;
}
