/* FOOTER */

footer {
  padding: var(--padding);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background-color: var(--fg-color);
}

footer p a {
  text-decoration: underline;
  text-decoration-color: var(--txt-color);
  text-underline-offset: .3rem;
}

footer p a:hover {
  text-decoration-color: var(--fg-color);
}

.page-top::after {
  content: "\F139";
  font-family: bootstrap-icons;
  font-size: .8em;
  display: block;
  margin-left: .8em;
}

a:hover.page-top {
  color: var(--hover-color);
}

@media (max-width: 900px) {
    footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .page-top {
    font-size: 1.2rem;
  }
  /* .page-top:active { */
    /* background-color: lightcyan; */
  /* } */
}

footer p, footer p a {
  font-size: .8rem;
}

