/* POST */

h1, h2, h3, h4, h5, h6 {
  color: var(--txt-color);
  margin: 0.5em 0 0.5em 0;
  cursor: default;
}

p {
  font-size: var(--p-font-size);
}

article a, figcaption > a {
  text-decoration: underline;
}

a:hover{
  text-decoration-color: var(--bg-color);
}

main {
  margin: 0 0 2em 0;
  padding: var(--padding);
}

main article ul {
  margin: 0 0 0 2em;
  color: var(--txt-color);
  font-size: var(--p-font-size);
}

p#opening::first-letter {
    float: left;
    font-size: 3.5em;
    line-height: 1.5;
    font-weight: bold;
    margin-right: 9px;
    color: lightgray;
    font-family: "Times New Roman", Times, serif;
    text-shadow: gray .05em .05em;
  }

sup, sup a {
  line-height: 1;
  font-size: 0.85em;
  text-decoration: none;
  font-weight: bold;
  margin-left: 0.1em;
  display: inline-block;
  font-style: normal;
}

section#references sup{
  margin-left: 0;
  margin-right: 0.3em;
  display: inline-block;
  color: var(--txt-color);
}

section#references a {
  text-decoration: none;
}

section#references a:hover {
  text-decoration: underline;
}

hr {
  border: 0.1em solid var(--fg-color);
  border-radius: 5px;
  display: block;
  margin-top: 1em;
}

.ref:target {
  animation: highlightFade 2s ease forwards;
}

@keyframes highlightFade {
  0%   { background-color: lightgrey; }
  100% { background-color: transparent; }
}
