@import url(/styles/footer.css);
@import url(/styles/header.css);
@import url(/styles/reset.css);
@import url(/styles/blog.css);

html {
  --border-radius: 1em;
  --padding: 1em;
  --p-font-size: 1.2rem;
  --h-font-size: 1.5rem;
  --bg-color: light-dark(hsl(30deg 25% 95%), hsl(60deg 70% 5%));
  --fg-color: light-dark(hsl(140deg 30% 90%), hsl(50deg 8% 19%));
  --border-color: light-dark(hsl(140deg 30% 90%), hsl(50deg 8% 19%));
  --txt-color: light-dark(hsl(15deg 16% 50%), hsl(30deg 30% 95%));
  --hover-color: light-dark(hsl(15deg 10% 70%), hsl(15deg 16% 80%));
  font-family: sans-serif;
  color-scheme: dark light;
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

body {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  grid-template-rows: auto 1fr auto;
  background-color: var(--bg-color);
}

.width {
  width: min(70ch, 100% - 2rem);
  margin-inline: auto;
}

time {
  color: var(--txt-color);
}

.logo,
p,
a {
  color: var(--txt-color);
  text-decoration: none;
  font-size: var(--p-font-size);
}

a {
  transition: text-decoration-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

a:hover {
  color: var(--hover-color)
}

.flex-wrapper {
  display: flex;
  align-items: center;
}

.flex-wrapper-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gap-2rem {
  gap: 2rem;
}

.padding-1rem {
  padding: var(--padding);
}

/* UTILITY */

.no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.active {
  /* class */
  background-color: var(--txt-color);
  color: var(--bg-color);
  padding: 0.5rem 0.9rem;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 0 lightgray;
}

li:active a.active {
  background-color: var(--txt-color);
  color: var(--bg-color);
}

a:hover.active {
  color: var(--bg-color);
  text-decoration: none;
}

figure {
  margin: 2em 0 2em 0;
  width: 90%;
}

figure>img {
  border-radius: var(--border-radius);
}

figcaption {
  font-size: 13px;
  color: var(--txt-color);
}

figcaption>a {
  font-size: 13px;
  text-decoration: underline;
}

a:hover {
  text-decoration-color: var(--bg-color);
}