@import url(/styles/footer.css);
@import url(/styles/header.css);
@import url(/styles/reset.css);
@import url(/styles/blog.css);
@import url(/styles/about.css);

html {
  --border-radius: 1em;
  --padding: 1em;
  --p-font-size: 1.2em;
  --h-font-size: 1.5em;
  --bg-color: light-dark(hsl(30deg 30% 95%), hsl(60deg 70% 5%));
  --fg-color: light-dark(hsl(40deg 55% 85%), hsl(50deg 8% 19%));
  --border-color: light-dark(hsl(40deg 55% 85%), hsl(50deg 8% 19%));
  --txt-color: light-dark(hsl(15deg 16% 50%), hsl(30deg 30% 95%));
  --hover-color: light-dark(hsl(15deg 42% 65%), hsl(15deg 16% 80%));
  font-family: sans-serif;
  color-scheme: dark light;
}

body {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  grid-template-rows: auto 1fr auto;
  background-color: var(--bg-color);
}

.width {
  width: min(70ch, 100% - 2rem);
  margin-inline: auto;
}

p,
a {
  color: var(--txt-color);
  text-decoration: none;
  font-size: var(--p-font-size);
}

a:hover {
  color: var(--hover-color)
}

.flex-wrapper {
  display: flex;
  align-items: center;
}

.flex-wrapper-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gap-2rem {
  gap: 2rem;
}

.padding-1rem {
  padding: var(--padding);
}

/* UTILITY */

.no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.active {
  /* class */
  background-color: var(--txt-color);
  color: var(--bg-color);
  padding: 0.5rem 0.9rem;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 0 lightgray;
}

li:active a.active {
  background-color: var(--txt-color);
  color: var(--bg-color);
}

a:hover.active {
  color: var(--bg-color);
  text-decoration: none;
}